<li class="">
    <a class="links flex justify-center py-5 group border-t-2 border-solid border-transparent" href="#">
        <svg
            class="w-6 h-6 stroke-mountain fill-transparent transition-colors duration-300 group-hover:fill-razzmatazz group-hover:stroke-razzmatazz"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="none"
            stroke-width="2"
        >
            <slot/>
        </svg>
    </a>
</li>

<style>
    a.active{
        @apply border-razzmatazz;
        svg{
            @apply fill-razzmatazz stroke-razzmatazz;
        }
    }
</style>
