---
import LitNav from "../components/LitNav.astro";
---

<header>
    <section class="text-center py-3">
        <span class="text-razzmatazz text-3xl font-semibold">Luxe</span>
    </section>
</header>

<nav class="fixed bottom-0 w-full flex items-center bg-white [box-shadow:0px_-5px_10px_#00000009]">
    <ul class="w-11/12 mx-auto grid grid-cols-4 items-center justify-center">
        <!-- home -->
        <LitNav>
            <path
                d="M21 6.22401L21.4 6.52401C22.4052 7.27788 23 8.45897 23 9.72402V19C23 21.2047 21.2047 23 19 23L17 23V14C17 12.8974 16.1049 12 15 12H9C7.89506 12 7 12.8974 7 14V23H5C2.79528 23 1 21.2047 1 19V9.72402C1 8.39151 1.65877 7.153 2.76255 6.40781L9.7622 1.68405C9.76226 1.68401 9.76233 1.68396 9.76239 1.68392C11.1234 0.766002 12.8768 0.766046 14.2378 1.68405L19.4406 5.19494L21 6.2472V6.22401Z"
            ></path>
        </LitNav>

        <!-- service -->
        <LitNav>
            <path
                d="M9.06347 13.0319L9.06396 13.0322C9.81172 13.502 10.8844 14 12.001 14C13.1174 14 14.1891 13.5022 14.9385 13.0319L15.47 13.879M9.06347 13.0319L6.93835 16.4206C8.05244 17.1198 9.8696 18 12 18C13.978 18 15.686 17.2412 16.812 16.573H16.8207L17.0645 16.4201C17.9986 15.834 18.283 14.6001 17.6952 13.6637C17.1094 12.7288 15.8723 12.4428 14.9364 13.0333L15.47 13.879M9.06347 13.0319C8.12697 12.4444 6.89429 12.7305 6.30774 13.6622C5.71938 14.5968 6.00092 15.8329 6.93731 16.4199L9.06347 13.0319ZM15.47 13.879C14.654 14.391 13.391 15 12.001 15C10.611 15 9.347 14.391 8.532 13.879H15.47ZM22.5 10H22.5316C22.7918 10.0165 23 10.2349 23 10.499V13.499C23 13.7737 22.7747 13.999 22.5 13.999H22H21V14.999V21.854C21 22.2786 20.7685 22.6654 20.3935 22.8666C20.2226 22.9583 20.0373 23.003 19.851 23.003C19.629 23.003 19.4076 22.9386 19.2147 22.8099L15.2517 20.1679L14.9998 20H14.697H7C4.79528 20 3 18.2047 3 16V15V14H2H1.5C1.22528 14 1 13.7747 1 13.5V10.5C1 10.2253 1.22528 10 1.5 10H2H3V9V8C3 5.79528 4.79528 4 7 4H11H12H13H17C19.2047 4 21 5.79528 21 8V9V10H22H22.5ZM11 9.5C11 8.11972 9.88028 7 8.5 7C7.11972 7 6 8.11972 6 9.5C6 10.8803 7.11972 12 8.5 12C9.88028 12 11 10.8803 11 9.5ZM13 9.5C13 10.8803 14.1197 12 15.5 12C16.8803 12 18 10.8803 18 9.5C18 8.11972 16.8803 7 15.5 7C14.1197 7 13 8.11972 13 9.5Z"
            ></path>
        </LitNav>

        <!-- porfilio -->
        <LitNav>
            <path
                d="M7.1354 3.96591L7.24119 3.66668C7.51597 2.88946 8.02416 2.21613 8.69626 1.73879C9.36815 1.26159 10.171 1.00358 10.9951 1.00001M7.1354 3.96591L10.9951 1.00001M7.1354 3.96591C7.35322 3.15751 7.81942 2.43538 8.47113 1.90338C9.18392 1.32151 10.0751 1.00258 10.9951 1.00001M7.1354 3.96591L10.9951 1.00001M17.0847 5H17.2302H17.9H18.9995C20.0601 5.00147 21.0768 5.42341 21.8267 6.17333C22.5768 6.92342 22.9987 7.9404 23 9.0012V11H1V9.00063C1.00142 7.94004 1.42336 6.92329 2.17333 6.17333C2.92325 5.42341 3.93993 5.00147 5.00046 5H6.1H6.7698H6.91528H8.184H15.816H17.0847ZM16.8646 3.9659L16.7588 3.66668C16.484 2.88946 15.9758 2.21613 15.3037 1.73879C14.6318 1.26159 13.829 1.00358 13.0049 1.00001C13.9249 1.00258 14.8161 1.32151 15.5289 1.90338C16.1806 2.43538 16.6468 3.15751 16.8646 3.9659Z"
            ></path>
            <path
                d="M13.4142 16.4142C13.7893 16.0391 14 15.5304 14 15L23 15V18.9988C22.9987 20.0596 22.5768 21.0766 21.8267 21.8267C21.0768 22.5766 20.0601 22.9985 18.9995 23C18.9993 23 18.999 23 18.9988 23H5.0012C5.00095 23 5.0007 23 5.00046 23C3.93993 22.9985 2.92325 22.5766 2.17333 21.8267C1.42336 21.0767 1.00142 20.06 1 18.9994V15L10 15C10 15.5304 10.2107 16.0391 10.5858 16.4142C10.9609 16.7893 11.4696 17 12 17C12.5304 17 13.0391 16.7893 13.4142 16.4142Z"
            ></path>
        </LitNav>

        <!-- how we work -->
        <LitNav>
            <path d="M9.8602 16.2264C10.0375 16.4318 10.0293 16.7435 9.8329 16.9399L4.3249 22.4479C3.54001 23.2328 2.25196 23.2081 1.49712 22.3708C0.832208 21.6324 0.884396 20.3798 1.68812 19.5761L7.07812 14.1861C7.28335 13.9809 7.61572 13.9816 7.81931 14.1855L7.8199 14.1861L9.8319 16.1981L9.8602 16.2264ZM11.4566 4.76356L11.4569 4.76288C12.3444 2.55444 14.4985 0.998993 17.018 0.998993C17.3504 0.998993 17.6744 1.02612 17.9892 1.07857L16.0429 3.02489C14.5918 4.47603 14.6813 6.88457 16.3078 8.21495C17.8224 9.45421 19.9086 9.05866 21.3131 7.6541L22.9383 6.02892C22.9904 6.34581 23.018 6.66987 23.018 6.99999C23.018 9.00608 22.0228 10.7701 20.493 11.8572C20.4722 11.86 20.4434 11.8617 20.4098 11.8593C20.323 11.8529 20.2298 11.8222 20.1425 11.7373C19.1134 10.7091 17.7568 10.1229 16.3837 10.0195L11.542 5.17882L11.5412 5.17798C11.4335 5.07052 11.3995 4.90542 11.4566 4.76356ZM17.3179 14.5691L17.3217 14.5729L22.4391 19.6358C23.196 20.6482 23.1626 21.751 22.4853 22.4295C21.7757 23.1403 20.43 23.1248 19.6261 22.3209L19.6223 22.3171L14.5691 17.3179C14.5686 17.3173 14.568 17.3168 14.5675 17.3162C14.0728 16.8204 13.9061 16.1192 14.0707 15.4664L14.2094 14.9161L13.8081 14.5148L6.58407 7.29184L6.29118 6.99899H5.87701H3.99901C3.60418 6.99899 3.23958 6.78854 3.04228 6.44642L3.04226 6.44638L1.07726 3.03938L1.07692 3.03879C0.94661 2.81321 0.983999 2.52685 1.16942 2.3418L1.17012 2.3411L2.34212 1.1691C2.52738 0.983838 2.81324 0.946598 3.0388 1.0769L3.03948 1.07729L6.44544 3.04127C6.44545 3.04127 6.44547 3.04128 6.44548 3.04129C6.78791 3.23878 6.99901 3.60456 6.99901 3.99899V5.87999V6.29425L7.29195 6.58715L14.514 13.8081L14.9155 14.2097L15.4661 14.0705C16.1196 13.9053 16.8215 14.0727 17.3179 14.5691Z"/>
        </LitNav>
    </ul>
</nav>

<script>
    const $links = document.querySelectorAll("a");
    $links[0].classList.add("active");
</script>
