<section class="flex flex-col gap-6">
    <article class="flex flex-col gap-3">
        <p class="">Hi, there!</p>
        <h1 class="text-5xl"><span class="text-razzmatazz">Luxe</span> is here to be your assistance</h1>
        <p>I am here ready to help you in making creative digital products</p>
    </article>
    <a class="bg-razzmatazz text-white px-6 py-3 rounded-full inline-flex w-max" href="#">Let’s Discuss</a>
</section>